body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #363333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    color: blue;
    margin-right: 20px; 
}

section {
    padding: 40px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}